{% extends 'base.html' %}

{% block content %}

	<h1>Hello World</h1>

	<p> returning some random text </p>



<a class="btn btn-primary" href="{{ url_for('view_flights')}}" role="button">View Flights</a>


<a class="btn btn-primary" href="{{ url_for('purchase_tickets')}}" role="button">Purchase Tickets</a>

<a class="btn btn-primary" href="{{ url_for('search_for_flights')}}" role="button">Search for Flights</a>

<a class="btn btn-primary" href="{{ url_for('track_my_spending')}}" role="button">View my Commission</a>

<a class="btn btn-primary" href="{{ url_for('track_my_spending')}}" role="button">View Top Customers</a>

<a class="btn btn-primary" href="{{ url_for('login')}}" role="button">Logout</a>


	<p> fnjjksnfekanfak </p>

{% endblock %}