<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase Tickets</title>

    <h1>Confirm Ticket Details:</h1>



    <form method="POST">
  <h3 align="center">Sign Up</h3>



   <br />

  <select class="form-select" aria-label="Default select example" name="LoginType" id="LoginType">
  <option selected>Select Login Type</option>
  <option value="1">Customer</option>
  <option value="2">Booking Agent</option>
  <option value="3">Flight</option>


</select>



  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



</head>
<body>

</body>
</html>