{% extends 'base.html' %}

{% block content %}

	<h1>Welcome!</h1>

	<p> Choose your option below: </p>






<a class="btn btn-primary" href="{{ url_for('registers')}}" role="button">Register</a>

<a class="btn btn-primary" href="{{ url_for('login')}}" role="button">Login</a>

<a class="btn btn-primary" href="{{ url_for('search')}}" role="button">Search</a>

<br/>
<br/>

<a class="btn btn-primary" href="{{ url_for('customer_home')}}" role="button">Customer</a>

<a class="btn btn-primary" href="{{ url_for('booking_agent_home')}}" role="button">Booking Agent</a>


<a class="btn btn-primary" href="{{ url_for('airline_staff_home')}}" role="button">Airline Staff</a>




{% endblock %}